    /*FONTS*/
    
    @import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');
    @import url('https://fonts.googleapis.com/css?family=NTR&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,400&display=swap');
 
    /* Background IMAGE */
    @media (prefers-color-scheme: dark) {
        .backgroundUI {
            background:  url('./img/background-default-1.jpg') no-repeat center center fixed;
            background-size: cover;
            color: white;
        }
    }
    
    @media (prefers-color-scheme: light) {
        .backgroundUI {
            background: url('./img/background-default-1.jpg') no-repeat center center fixed;
            background-size: cover;
            color: white;
        }
    }

    /*BODY*/
    
    @media (prefers-color-scheme: dark) {
        body {
            color: #fff;
            background-color: #333;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
        }
    }
    
    @media (prefers-color-scheme: light) {
        body {
            color: #333;
            background-color: #fff;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            scroll-behavior: smooth;
        }
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        text-decoration: none;
    }
    /* COLOR BLACK/WHITE */
    @media (prefers-color-scheme: dark) {
        .font-color {
            color: white;
        }
    }
    
    @media (prefers-color-scheme: light) {
        .font-color {
            color: rgb(0, 0, 0);
        }
    }


    @media (prefers-color-scheme: dark) {
        text {
            font-weight: 300;
            font-size: larger;
            color: white;
        }
    }
    
    @media (prefers-color-scheme: light) {
        text {
            font-weight: 300;
            font-size: larger;
            color: white;        
        }     
    }

    @media (prefers-color-scheme: light) {
        text.font-color {
            font-weight: 300;
            font-size: larger;
            color: rgb(0, 0, 0);
        }     
    }

    /*****TITLE****/
    .title {
        font-family: 'NTR';
        margin-left: 7px;
    }
    
    /* Website BOW HEADER     */
    @media (prefers-color-scheme: dark) {
        .bow {
            width: 100%;
            height: 100px;
            border: solid 10px #333;
            background-color: #333;
            border-color: rgb(44 44 44 / 0%) transparent transparent transparent;
            border-radius: 50px 50px 0 0;
        }
    }
    
    @media (prefers-color-scheme: light) {
        .bow {
            width: 100%;
            height: 100px;
            border: solid 10px rgb(255, 255, 255);
            background-color: rgb(255, 255, 255);
            border-color: rgb(44 44 44 / 0%) transparent transparent transparent;
            border-radius: 50px 50px 0 0;
        }
    }


    /*FADE IN LOAD WEBSITE AND SMOOTH SCROLL FIREFOX AND CHROME*/
    
    html {
        scroll-behavior: smooth;

    }
    /*SMALL*/
    
    small {
        font-size: 95%;
    }
    /*SHADOW BOX*/
    @media (prefers-color-scheme: dark) {
        .shadow-box {
            border: 30px solid #333;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.205);
            background-color: #333;
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }
        
        .shadow-box:hover {
            border: 30px solid transparent;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(0, 0, 0, 0.712);
            font-style: normal;
            letter-spacing: -0.025em;
            cursor: pointer;
        }
        @media only screen and (max-width: 900px) {
            .shadow-box {
                border: 14px solid #333;
                border-radius: 20px;
                box-shadow: 0px 3px 34px -12px rgba(17, 15, 17, 0.34);
                background-color: #333;
                text-align: center;
            }
        }
    }
    
    @media (prefers-color-scheme: light) {
        .shadow-box {
            border: 30px solid #fff;
            border-radius: 20px;
            -webkit-box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.144);
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            background-color: #fff;
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }
        
        .shadow-box:hover {
            border: 30px solid transparent;
            border-radius: 20px;
            -webkit-box-shadow: 0px 3px 34px -12px rgb(112, 97, 112);
            box-shadow: 0px 3px 34px -12px rgba(97, 87, 97, 0.712);
            font-style: normal;
            letter-spacing: -0.025em;
            cursor: pointer;
        }
        @media only screen and (max-width: 900px) {
            .shadow-box {
                border: 14px solid #fff;
                border-radius: 20px;
                box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
                background-color: #fff;
                text-align: center;
            }
        }
    }

        /*SHADOW BOX*/
    @media (prefers-color-scheme: dark) {
        .shadow-box {
            border: 30px solid #333;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.205);
            background-color: #333;
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }
        
        .shadow-box:hover {
            border: 30px solid transparent;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(0, 0, 0, 0.712);
            font-style: normal;
            letter-spacing: -0.025em;
            cursor: pointer;
        }
        @media only screen and (max-width: 900px) {
            .shadow-box {
                border: 14px solid #333;
                border-radius: 20px;
                box-shadow: 0px 3px 34px -12px rgba(17, 15, 17, 0.34);
                background-color: #333;
                text-align: center;
            }
        }
    }
    
    @media (prefers-color-scheme: light) {
        .shadow-box {
            border: 30px solid #fff;
            border-radius: 20px;
            -webkit-box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.144);
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            background-color: #fff;
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }
        
        .shadow-box:hover {
            border: 30px solid transparent;
            border-radius: 20px;
            -webkit-box-shadow: 0px 3px 34px -12px rgb(112, 97, 112);
            box-shadow: 0px 3px 34px -12px rgba(97, 87, 97, 0.712);
            font-style: normal;
            letter-spacing: -0.025em;
            cursor: pointer;
        }
        @media only screen and (max-width: 900px) {
            .shadow-box {
                border: 14px solid #fff;
                border-radius: 20px;
                box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
                background-color: #fff;
                text-align: center;
            }
        }
    }
    /*SHADOW BOX*/
    @media (prefers-color-scheme: dark) {
        .no-shadow-box {
            border: 30px solid #333;
            border-radius: 20px;
            background-color: #333;
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }
        
        .no-shadow-box:hover {
            border: 30px solid transparent;
            border-radius: 20px;
            font-style: normal;
            letter-spacing: -0.025em;
            cursor: pointer;
        }
        @media only screen and (max-width: 900px) {
            .no-shadow-box {
                border: 14px solid #333;
                border-radius: 20px;
                background-color: #333;
                text-align: center;
            }
        }
    }
    
    @media (prefers-color-scheme: light) {
        .no-shadow-box {
            border: 30px solid #fff;
            border-radius: 20px;

            background-color: #fff;
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }
        
        .no-shadow-box:hover {
            border: 30px solid transparent;
            border-radius: 20px;

            font-style: normal;
            letter-spacing: -0.025em;
            cursor: pointer;
        }
        @media only screen and (max-width: 900px) {
            .no-shadow-box {
                border: 14px solid #fff;
                border-radius: 20px;
                background-color: #fff;
                text-align: center;
            }
        }
    }

    /* JOBS BOX */
    @media (prefers-color-scheme: dark) {
        .shadow-box-jobs {
            word-break: break-word;
            border: 30px solid #333;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            background-color: #333;
            color: #fff;
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
            border-left-width: 30px;
            margin-left: -1px;
            margin-right: -1px;
        }
        
        @media only screen and (max-width: 900px) {
            .shadow-box-jobs {
                word-break: keep-all;
                border: 14px solid #333;
                border-radius: 20px;
                box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
                background-color: #333;
                text-align: left;
            }
        }
    }
    
    @media (prefers-color-scheme: light) {
        .shadow-box-jobs {
            word-break: keep-all;
            border: 30px solid #fff;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
            background-color: #fff;
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
            border-left-width: 30px;
            margin-left: -1px;
            margin-right: -1px;
        }
        
        @media only screen and (max-width: 900px) {
            .shadow-box-jobs {
                word-break: keep-all;
                border: 14px solid #fff;
                border-radius: 20px;
                box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
                background-color: #fff;
                text-align: left;
            }
        }
    }
    

    /* Shadow BOX 2 */

    @media (prefers-color-scheme: dark) {
        .shadow-box-2 {
            border: 30px solid #333;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            background-color: #333;
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            transition: all .2s linear;
            border-left-width: 30px;
            margin-left: -1px;
            margin-right: -1px;
        }
        
        .shadow-box-2:hover {
            box-shadow: 0px 3px 34px -12px rgb(0, 0, 0);
            font-style: normal;
            letter-spacing: -0.025em;
        }
        
        @media only screen and (max-width: 900px) {
            .shadow-box-2 {
                border: 14px solid #333;
                border-radius: 20px;
                box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
                background-color: #333;
                text-align: left;
            }
        }
    }
    
    @media (prefers-color-scheme: light) {
        .shadow-box-2 {
            border: 30px solid #fff;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(48, 43, 48, 0.34);
            background-color: #fff;
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
            border-left-width: 30px;
            margin-left: -1px;
            margin-right: -1px;
        }
        
        .shadow-box-2:hover {
            -webkit-box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.103);
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.089);
            font-style: normal;
            letter-spacing: -0.025em;
        }
        
        @media only screen and (max-width: 900px) {
            .shadow-box-2 {
                border: 14px solid #fff;
                border-radius: 20px;
                box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
                background-color: #fff;
                text-align: left;
            }
        }
    }
        /* Shadow BOX STATS */
    @media (prefers-color-scheme: dark) {
        .shadow-box-stats {
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            word-break: keep-all;
            font-style: normal;
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }
        
        @media only screen and (max-width: 900px) {
            .shadow-box-stats {
                border-radius: 20px;
                box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
                background-color: #333;
                text-align: left;
            }
        }
    }
    
    @media (prefers-color-scheme: light) {
        .shadow-box-stats {
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(87, 77, 87, 0.34);
            background-color: rgba(255, 255, 255, 0.527);
            word-break: keep-all;
            font-style: normal;
            color: rgb(44, 44, 44);
            letter-spacing: -0.025em;
            display: block;
            position: relative;
            transition: all .2s linear;
        }
        
        @media only screen and (max-width: 900px) {
            .shadow-box-stats {
                border-radius: 20px;
                box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
                background-color: #fff;
                text-align: left;
            }
        }
    }
    
    /* SHADOW BOX BLOG */
    @media (prefers-color-scheme: dark) {
        .shadow-box-blog {
            border: 30px solid transparent;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            background-size: cover;
            color: #fff;
            transition: all .2s linear;
        }
        
        .shadow-box-blog:hover {
            border: 30px solid transparent;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(36, 30, 36, 0.774);
            cursor: pointer;
        }
    }
    
    @media (prefers-color-scheme: light) {
        .shadow-box-blog {
            border: 30px solid transparent;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(48, 43, 48, 0.521);
            color: #fff;
            background-size: 100% auto;
            transition: all .2s linear;
        }
        
        .shadow-box-blog:hover {
            border: 30px solid transparent;
            border-radius: 20px;
            box-shadow: 0px 3px 34px -12px rgba(97, 87, 97, 0.712);
            cursor: pointer;
        }
    }  

    /*STATS BACKGROUND*/
    
    .warm {
        border-radius: 20px;
        background-color: #FF9A8B;
        background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    }
    
    .blue {
        border-radius: 20px;
        background-color: #8BC6EC;
        background-image: linear-gradient(135deg, #8BC6EC 0%, rgb(18, 185, 236) 100%);
    }
    
    .green {
        border-radius: 20px;
        background-color: #85FFBD;
        background-image: linear-gradient(270deg, #85FFBD 0%, #cfeacb 100%);
    }
    
    .mars {
        border-radius: 20px;
        background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    }
    
    .dark {
        border-radius: 20px;
        background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    }
    /*HIDE ON MOBILE OR HIDE*/
    
    @media only screen and (max-width: 990px) {
        .hide-mobile {
            display: none;
        }
    }
    
    @media only screen and (min-width: 990px) {
        .hide-pc {
            display: none;
        }
    }
    
    @media only screen and (min-width: 560px) {
        .hide-tablet {
            display: none;
        }
    }
    /*SEARCH BAR*/
    @media (prefers-color-scheme: dark) {
        input[type=text]{
            padding: 5px;
            margin-top: 1%;
            border: 6px solid #242424;
            background-color: #242424;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            width: 100%;
        }

        input[type=mail]{
            padding: 5px;
            margin-top: 1%;
            border: 6px solid #242424;
            background-color: #242424;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            width: 100%;
        }

        input[type=url]{
            padding: 5px;
            margin-top: 1%;
            border: 6px solid #242424;
            background-color: #242424;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            width: 100%;
        }
        
        input[type="text"]:disabled {
            background: #242424;
        }
        
        input[type=password] {
            padding: 5px;
            margin-top: 1%;
            border: 6px solid #242424;
            background-color: #242424;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            width: 100%;
        }
        
         ::placeholder {
            color: gray;
            opacity: 1;
        }
    }
    
    @media (prefers-color-scheme: light) {
        input[type=text] {
            padding: 5px;
            margin-top: 1%;
            border: 6px solid rgb(255, 255, 255);
            border-radius: 5px;
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
            width: 100%;
        }

        input[type=mail] {
            padding: 5px;
            margin-top: 1%;
            border: 6px solid rgb(255, 255, 255);
            border-radius: 5px;
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
            width: 100%;
        }        

        input[type=url] {
            padding: 5px;
            margin-top: 1%;
            border: 6px solid rgb(255, 255, 255);
            border-radius: 5px;
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
            width: 100%;
        }
        
        input[type="text"]:disabled {
            background: #fff;
        }
        
        input[type=password] {
            padding: 5px;
            margin-top: 1%;
            border: 6px solid rgb(255, 255, 255);
            border-radius: 5px;
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
            width: 100%;
        }
        
         ::placeholder {
            color: rgb(145, 145, 145);
            opacity: 1;
        }
    }  
/*Checkboxes styles*/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: rgb(73, 73, 73);
    cursor: pointer;
}

input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #da1b34;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    border: 1px solid #31da1b;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
}

    /* LABEL */ 

    @media (prefers-color-scheme: dark) {
        .badge-1 {
            color: #ffffff;
            background-color: #242424;
            border: 6px solid #242424;
            border-radius: 20px;
            display: inline-block;  
            font-size: smaller;
            position: relative;
            border-top-width: 2px;
            border-left-width: 10px;
            border-right-width: 10px;
            border-bottom-width: 2px;

        }
        .badge {
            color: rgb(247, 247, 247);
            background-color: rgb(10 8 10);
            border: 6px solid rgb(10 8 10);
            border-radius: 5px;
            display: inline-block;  
            font-size: small;
            position: relative;
            border-top-width: 2px;
            border-left-width: 10px;
            border-right-width: 10px;
            border-bottom-width: 2px;

        }
    }
    
    @media (prefers-color-scheme: light) {
        .badge-1 {
            color: #333;
            background-color: rgb(190, 190, 190);
            border: 6px solid rgb(190, 190, 190);
            border-radius: 290px;
            display: inline-block;  
            font-size: smaller;
            position: relative;
            border-top-width: 2px;
            border-left-width: 10px;
            border-right-width: 10px;
            border-bottom-width: 2px;
        }
        .badge {
            color: rgba(10, 8, 10, 0.849);
            background-color: #e9ecef;
            border: 6px solid #e9ecef;
            border-radius: 5px;
            display: inline-block;
            font-size: small;
            position: relative;
            border-top-width: 2px;
            border-left-width: 10px;
            border-right-width: 10px;
            border-bottom-width: 2px;
        }
    }
    /*TEXTAREA*/
    @media (prefers-color-scheme: dark) {
        textarea {
            padding: 5px;
            margin-top: 0%;
            border: 6px solid #242424;
            background-color: #242424;
            color: #fff;
            border-radius: 15px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            width: 100%;
            outline: none;
            resize: none;
        }
        
        textarea:focus,
        input:focus {
            outline: none;
        }
        
        select {
            padding: 5px;
            margin-top: 0%;
            border: 6px solid #242424;
            background-color: #242424;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0px 3px 34px -12px rgba(10, 8, 10, 0.849);
            width: 100%;
            outline: none;
            scroll-behavior: smooth;
        }
        
        select::-ms-expand {
            display: none;
        }
    }
    
    @media (prefers-color-scheme: light) {
        textarea {
            padding: 5px;
            margin-top: 0%;
            border: 6px solid rgb(255, 255, 255);
            border-radius: 15px;
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
            width: 100%;
            outline: none;
            resize: none;
        }
        
        textarea:focus,
        input:focus {
            outline: none;
        }
        
        select {
            padding: 5px;
            margin-top: 0%;
            border: 6px solid rgb(255, 255, 255);
            border-radius: 5px;
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
            width: 100%;
            outline: none;
            scroll-behavior: smooth;
        }
        
        select::-ms-expand {
            display: none;
        }
    }   

    /*LINKS*/
    
    @media (prefers-color-scheme: dark) {
        a {
            text-decoration: none;
            color: rgb(196, 188, 188);
        }
    }
    
    @media (prefers-color-scheme: light) {
        a {
            text-decoration: none;
        }
    }

    
    .link-no-deco {
        color: unset;
    }
    
    .link-footer {
        color: rgb(167, 167, 167);
    }
    
    .link-footer-blue {
        color: rgb(99, 200, 240);
    }
    /*AVATR*/
    
    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 60%;
        box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
        transition: 0.3s;
        /*opacity: 0.6;*/
        margin-right: -8px;
    }
    
    .avatar:hover {
        box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
        opacity: 1;
    }
    
    @media only screen and (max-width: 990px) {
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 60%;
            -webkit-box-shadow: 0px 3px 30px 11px rgba(140, 123, 140, 0.34);
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
        }
    }
    
    @media only screen and (max-width: 590px) {
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 60%;
            -webkit-box-shadow: 0px 3px 30px 11px rgba(140, 123, 140, 0.34);
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
        }
    }
    /*AVATAR START*/
    
    .avatar-start {
        width: 100px;
        border-radius: 60%;
        box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
        transition: 0.3s;
        margin-right: -8px;
        margin-top: 16px;
    }
    
    .avatar-start:hover {
        -webkit-box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
        box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
        opacity: 1;
    }
    
    @media only screen and (max-width: 990px) {
        .avatar-start {
            width: 70px;
            border-radius: 60%;
            -webkit-box-shadow: 0px 3px 30px 11px rgba(140, 123, 140, 0.34);
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
        }
    }
    
    @media only screen and (max-width: 590px) {
        .avatar-start {
            width: 30px;
            border-radius: 60%;
            -webkit-box-shadow: 0px 3px 30px 11px rgba(140, 123, 140, 0.34);
            box-shadow: 0px 3px 34px -12px rgba(140, 123, 140, 0.34);
        }
    }
    /*BUTTON*/
    @media (prefers-color-scheme: dark) {
        .btn-grad-top {
            background-image: linear-gradient( 135deg, rgba(245, 197, 25, 0.966) 10%, #edf33c 100%);

            padding: 20px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
            box-shadow: 0px 3px 34px -12px rgba(31, 26, 31, 0.692);
            border-radius: 20px;
            display: 40px;
            margin-top: auto;
        }
        
        .btn-grad-top:hover {
            box-shadow: 0px 3px 40px 12px rgba(37, 30, 30, 0.705);
        }
        
        @media only screen and (max-width: 990px) {
            .btn-grad-top {
                margin: 3%;
                padding: 10px;
                text-align: center;
                font-size: medium;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                box-shadow: 0px 3px 34px -12px rgba(31, 26, 31, 0.692);
                border-radius: 10px;
                display: 40px;
                margin-top: auto;
            }
        }
    }
    
    @media (prefers-color-scheme: light) {
        .btn-grad-top {
            background-image: linear-gradient( 135deg, rgba(245, 197, 25, 0.966) 10%, #edf33c 100%);

            padding: 20px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
            box-shadow: 0px 3px 34px -12px rgba(116, 112, 116, 0.692);
            border-radius: 20px;
            display: 40px;
            margin-top: auto;
        }
        
        .btn-grad-top:hover {
            box-shadow: 0px 3px 40px 12px rgba(189, 188, 188, 0.705);
        }
        
        @media only screen and (max-width: 990px) {
            .btn-grad-top {
                margin: 3%;
                padding: 10px;
                text-align: center;
                font-size: medium;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                box-shadow: 0px 3px 70px 20px rgba(247, 247, 247, 0.178);
                border-radius: 10px;
                display: 40px;
                margin-top: auto;
            }
        }
    }

    /*DETAILS LIST*/
    @media (prefers-color-scheme: dark) {
        details {
            display: block;
            width: 100%;
            background-color: #242424;
        }
        
        details summary::-webkit-details-marker {
            display: none;
            list-style: none;
        }
        
        details>summary {
            list-style: none;
        }
        
        .sum-word-breakUI {
            word-wrap: break-word;
            width: 80%;
            background-color: #333;
            width: auto;
        }
        
        summary {
            padding: 20px;
            padding-left: 20px;
            padding-left: 25px;
            background-color: #242424;
            width: 95%;
            word-wrap: break-word;
            cursor: pointer;
        }
        
        summary:hover {
            color: auto;
        }
        
        summary:focus {
            outline: none;
        }
        
        @keyframes open {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        details {
            display: block;
        }
    }
    
    @media (prefers-color-scheme: light) {
        details {
            display: block;
            width: 100%;
            background-color: whitesmoke;
        }
        
        details summary::-webkit-details-marker {
            display: none;
            list-style: none;
        }
        
        details>summary {
            list-style: none;
        }
        
        .sum-word-breakUI {
            word-wrap: break-word;
            width: 80%;
            background-color: white;
            width: auto;
        }
        
        summary {
            padding: 20px;
            padding-left: 20px;
            padding-left: 25px;
            border-bottom: 1px solid white;
            width: 95%;
            word-wrap: break-word;
            cursor: pointer;
        }
        
        summary:hover {
            color: auto;
        }
        
        summary:focus {
            outline: none;
        }
        
        @keyframes open {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        details {
            display: block;
        }
    } 

    /* MENU PC*/
    
    .menu-n {
        color: #dddddd;
    }
    
    .menu-n:hover {
        color: #ffffff;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        transition: ease-in 3s;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        padding: 12px 16px;
        margin-top: 4px;
        background-color: rgba(240, 240, 240, 0.274);
        border-radius: 7px;
        transform: translateY(-0.8em);
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
        color: white;
        -webkit-transition: max-height 3.2s ease-in;
        transition: max-height 3.2s ease-in;
    }
    
    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }
    /*verified badage*/
    
    .verified {
        margin-left: -7px;
        border: 2px solid white;
        border-radius: 9px;
        background: white;
        margin-top: 20px;
        width: 17px;
    }
    
    @media only screen and (max-width: 900px) {
        .verified {
            margin-top: 9px;
            margin-left: -9px;
            border: 2px solid white;
            border-radius: 9px;
            background: white;
            margin-top: 20px;
        }
    }

    /*verified badage*/
    
    .verified-profile {
        margin-left: 87px;
        border: 2px solid white;
        border-radius: 13px;
        background: white;
        margin-top: -322px;
        width: 28px;
    }
    
    @media only screen and (max-width: 900px) {
        .verified-profile {
            padding-top: 0px;
            margin-top: -315px;
            margin-left: 86px;
            border: 3px solid white;
            border-radius: 14px;
            background: white;
        }
    }
    /*TOPICS LEFT*/
    
    .left {
        text-align: left;
    }
    
    div.shadow-box:nth-child(1)>center:nth-child(1)>form:nth-child(2)>input:nth-child(1) {
        margin-right: -115px;
    }
    /*EFFECTS*/
    
    .bounce {
        -webkit-animation-name: bounce;
        animation-name: bounce;
        -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation: 5s bounce infinite;
    }
    
    @-webkit-keyframes bounce {
        0%,
        20%,
        53%,
        80%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        40%,
        43% {
            -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
        }
        70% {
            -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
        }
        90% {
            -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
        }
    }
    
    @keyframes bounce {
        0%,
        20%,
        53%,
        80%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        40%,
        43% {
            -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
        }
        70% {
            -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
        }
        90% {
            -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
        }
    }
    
    .bounceIn {
        -webkit-animation-name: bounceIn;
        animation-name: bounceIn;
        -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation: 5s bounceIn;
    }
    
    @-webkit-keyframes bounceIn {
        0%,
        20%,
        40%,
        60%,
        80%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
            opacity: 0;
            -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
        }
        20% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
            -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
            -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    
    @keyframes bounceIn {
        0%,
        20%,
        40%,
        60%,
        80%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
            opacity: 0;
            -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
        }
        20% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
            -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
            -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    /*FOOTER*/
    
    @media (prefers-color-scheme: dark) {
        article,
        aside,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        main,
        nav,
        section {
            background-color: #0e0d0d7e;
            box-shadow: 0px 3px 34px 4px rgba(39, 39, 39, 0.34);
        }
    }
    
    @media (prefers-color-scheme: light) {
        article,
        aside,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        main,
        nav,
        section {
            background: rgba(236, 236, 236, 0.658);
            box-shadow: 0px 3px 34px 4pxrgba(163, 163, 163, 0.34);
        }
    }


    
    .support-button {
        width: 60px;
        height: 60px;
        border-radius: 60px;
        position: fixed;
        right: 15px;
        bottom: 25px;
        transition: 0.5s;
        background: linear-gradient( rgb(3, 173, 240), rgb(0, 91, 228));
    }
    
    .support-button:hover {
        background-color: #414040e0;
        transition: 0.5s;
    }
    
    .header {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        overflow: hidden;
        color: white;
        text-transform: uppercase;
        font-size: medium;
        padding: 10px 10px;
        background: linear-gradient( rgba(3, 173, 240, 0.747), rgba(0, 91, 228, 0.664)), url('https://media.discordapp.net/attachments/597066766903934997/698118305348714516/DcHJmarXcAAyB2W.jpg') no-repeat 0px -210px;
        background-size: cover;
        margin: 0;
        border-radius: 7px;
    }
    
    .live-button {
        border: 3px solid rgb(255, 255, 255) !important;
        text-align: center;
    }