@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #ffffff;
    background-blend-mode: normal;
}

h1,
h2,
h3,
h4,
h5 {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

small {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.primary_newsBox {
    border: 20px solid transparent;
    border-radius: 11px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Höhe der Box festlegen */
    width: 100%; /* Volle Breite der Box festlegen */
    max-width: 600px; /* Optional: maximale Breite der Box */
    overflow: hidden; /* Inhalt, der über die Grenzen hinausgeht, wird abgeschnitten */
    position: relative; /* Positionierung für das Bild */
}

.primary_newsBox img {
    border-radius: 11px; /* Ecken des Bildes abrunden */
    width: 100%;
    height: auto;
    object-fit: cover; /* Bild an die Box anpassen */
    position: absolute;
    top: 0;
    left: 0;
}





.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.item {

    padding: 20px;
    box-sizing: border-box;
}

/* Desktop View */
@media (min-width: 768px) {
    .item {
        flex: 1 1 calc(33.33% - 20px); /* Drei Spalten mit Abstand */
    }
}

/* Mobile View */
@media (max-width: 767px) {
    .item {
        flex: 1 1 100%; /* Eine Spalte */
    }
}